/* Variables */
:root {
    /* Colours */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --dark-blue-main: hsl(217, 54%, 11%);
    --dark-blue-card: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--dark-blue-main);
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Component */
.component {
    max-width: 327px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-blue-card);
    border-radius: 15px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, .01);
}
.nft {
    width: 100%;
    border-radius: 8px;
}
.name {
    color: var(--white);
    font-weight: 600;
}
.description {
    color: var(--soft-blue);
    font-size: 18px;
    font-weight: 300;
}
/* Price + Time Section */
.price-and-time {
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-blue-line);
}
.price,
.time-left {
    display: flex;
}
.price p,
.time-left p {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 0 .3em;
}
.price p {
    color: var(--cyan);
}
.time-left p {
    color: var(--soft-blue);
}
.price img {
    width: 11px;
    height: 18px;
}
.time-left img {
    width: 16px;
    height: 16px;
}
/* Creator Section */
.creator {
    padding-top: 1em;
    display: flex;
    align-items: center;
}
.creator-img {
    width: 33px;
    height: 33px;
    border: 1px solid var(--white);
    border-radius: 50%;
}
.creator-name {
    margin-left: 1em;
    color: var(--white);
}
.creator-name span {
    color: var(--soft-blue);
}